<!DOCTYPE html>
<head>
   <title>GPIO Control</title>
   <link rel="stylesheet" href='../static/style.css'/>
</head>
<body>
             <h2>Actuators</h2>
             <h3> Status </h3>
             <br>
             <h3> Commands </h3>
                     ETCH-A-SKETCH Ctrl ==>
                     <a href="/up" class="button">UP</a>
                     <a href="/down"class="button">DOWN</a>
                     <a href="/left"class="button">LEFT</a>
                     <a href="/right"class="button">RIGHT</a>
</body>
</html>